.listItem {
  display: flex;
  border: 1px solid rgb(212, 223, 233);
  width: 250px;
  margin-top: 10px;
  padding: 5px;
}
.avatar {
  border-radius: 10px;
  /*  padding-left: 10px; */
  margin-left: 10px;
}
.name {
  font-size: large;
  padding-left: 15px;
}
.status {
  background-color: red;
  border-radius: 50%;
  margin-top: 17px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

.isActive {
  background-color: green;
  composes: status;
}
